




<form (ngSubmit)="onSubmit()" [formGroup]="group">

<wz-layout [container]="layout['style']" styleClass="parentContainer">
<!--  must use this style for loop , or else can not get the item from the loop *ngFor cannot be used-->
<ng-template ngFor let-item [ngForOf]="items" >
  <wz-box [grid]="item['box']" styleClass="parentCell">
    <wz-form-item-slot [props]="item['field']" [group]='group'></wz-form-item-slot>
  </wz-box>
</ng-template>
    
  </wz-layout>
  

<div>
    <button type="submit" [disabled]="!group.valid">Save</button>
</div>
</form>
<div *ngIf="payLoad" class="form-row">
  <strong>Saved the following values</strong><br>{{payLoad}}
</div>